<head>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body class="main">
  <main>
      <div class="glass">
         <h2>Login with an existing account</h2>
<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <br>
   <br>
   <label> Password
      <input type="password" name="password">
   </label>
<br>
   <button class="submitbutton"type="submit">Submit</button>
</form>
</div>
  </main>
  </body>


   
