<head>
  <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body class="main">
  <main>
<div class="glass">
   <h2 class="yeah">Create a new account</h2>
<form action="/auth/signup" method="POST">
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>

   {{#if errorMessage}}
   <h3 style="color: red;">{{errorMessage}}</h3>
   {{/if}}
</div>
</form>
  </main></body>
