{{#if user}}
<a href="/auth/logout"><button>Log out</button></a>
{{else}}
<a href="/auth/login">Login</a>
<a href="/auth/signup">Sign Up</a>
{{/if}}
<h1>{{title}} 🚀</h1>
<h4>{{testtest}}</h4>
<p>Welcome Ironhacker! let's roll</p>