main{
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass{
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,255,255,0.3));
  border-radius: 2rem;
  z-index: 3;
  backdrop-filter: blur(2rem);
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name{
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 1rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.listtype{
  font-weight: 10;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.listpic {
  width:100%;
  max-width:50px;
  padding: 5px;

}

.card form {
  justify-content: right;
}

h1{
  display: flex;
  justify-content: center;
}